
#footer  {
    height: auto;
    text-align: center;
    background-color: #111217;
    font-size: 100%;
    padding: 10px;

    a {
      text-decoration: none;
      color: white;
    }
    p {
      margin: 0px;
      color:white;
      padding: 15px;
      height: 20px;
    }
  }

#footer-wrap {
    text-align: center;
    height: auto;
    //padding: 10px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul{
      padding-left: 0px;
      
    }

    li{
      list-style: none;
      margin: 10px 30px;

      font-size: 50px;
      padding: 15px 15px;
      color: #fff;
      //border: 1px solid #fff;
      //border-radius: 50%;

    }

  }

//---------------DESKTOP-----------------------------
@media only screen and (min-width: 769px) {
    #footer  {
        bottom: 0;
        background-color: #181818;
      }

      #footer-wrap {
        text-align: center;
        padding: 10px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        //flex-wrap: wrap;
        align-items: center;
        align-content: center;
        margin: 20px;
        margin-bottom: 0px;


        p {
          margin: 0px;
          padding: 16px;
          height: 20px;
          //font-style: italic;

        }

        ul {
          display: flex;
          flex-direction: row;
        }

        li {
          font-size: 100px;
        }

        li :hover{
          //border: 1px solid #fff;
          //color: #9147FF;
        }
        a[href='https://www.twitch.tv/tpjcommunity'] :hover {
          color: #9147FF;
        }
        a[href='https://twitter.com/tpjcommunity'] :hover {
          color: #23A1F2;
        }
        a[href='https://www.instagram.com/tpjcommunity/'] :hover {
          background: -webkit-linear-gradient(90deg, #fdf497 0%, #fdf497 2%, #fd5949 30%,#d6249f 60%,#285AEB 98%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        a[href='mailto:gaming.tpj@gmail.com'] :hover { 
          color: #DADADA;
        }


        
      }

      
}
